@media (min-width: 280px) {

    h1 {
        font-size: clamp(calc(1.2rem + 0.5rem), 4vw, calc(8rem + 0.5vw));
    }

    h2 {
        font-size: clamp(calc(0.5rem + 0.5rem), 4vw, calc(1.0rem + 0.5vw));
    }
    article > h2{
        font-size: clamp(3.5em,4vw,calc(4em + 0.5vw))
    }

    h3 {
        font-size: clamp(calc(1rem + 0.5rem), 4vw, calc(1.5rem + 0.5vw));
    }
    h4 {
        font-size: clamp(calc(0.5rem + 0.5rem), 4vw, calc(1rem + 0.5vw));
    }

    p {
        font-size: calc(1rem + 0.25rem);
    }
    article > p{
        width: 64ch;
    }
    .exampelPligtWrap{
        text-align: center;
        width: calc(90% + 0.5vw);
    }
    .dynamicexampel{
        margin-top: 2rem;
        font-size: clamp(calc(0.5rem + 0.5rem), 5vw, calc(0.95rem + 0.5vw) );
    }
    .pligt{
        font-size: clamp(calc(0.5rem + 0.5rem), 3vw, calc(0.8rem + 0.5vw) );
    }

    .backgroundblue {
        position: relative;
        height: 4.5rem;
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    }

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        height: max-content;
        height: -moz-max-content;
        height: -webkit-max-content;
        height: -o-max-content;
        height: -ms-max-content;
        block-size: max-content;
        block-size: -moz-max-content;
        block-size: -webkit-max-content;
        block-size: -o-max-content;
        block-size: -ms-max-content;
    }

    .navbar {
        height: 5rem;
    }

    .headersection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .listsection {
        display: flex;
        margin-top: 0rem;
        text-align: center;
    }

    .listsection h2 {
        color: rgba(var(--LightRed), 1);
      
    }

    .formbg {
        height: calc(40rem + 3vh);
    }
    .inputs{
        padding-top: 1.5rem;
      }
    .formExpanded{
        min-height: 70rem;
        height: max-content;
        height: -moz-max-content;
        height: -webkit-max-content;
        height: -o-max-content;
        height: -ms-max-content;
        block-size: max-content;
        block-size: -moz-max-content;
        block-size: -webkit-max-content;
        block-size: -o-max-content;
        block-size: -ms-max-content;
        transition: height .3s ease-in-out;
        -webkit-transition: height .3s ease-in-out;
        -moz-transition: height .3s ease-in-out;
        -ms-transition: height .3s ease-in-out;
        -o-transition: height .3s ease-in-out;
    }
    .btnwrap{
        width: calc(100% - 2rem);
    }

    .slidersExpanded{
          height: 31rem;
          transition: height .3s ease-in-out;
          -webkit-transition: height .3s ease-in-out;
          -moz-transition: height .3s ease-in-out;
          -ms-transition: height .3s ease-in-out;
          -o-transition: height .3s ease-in-out;
    }
    .loantypetextblue{
        display: none;
    }

    .loantypetext,
    .monthlycost {
        font-size: calc(1.4rem + .5vw);
        line-height: calc(3.5rem + .5vw);
    }
    .signup-steps{
        display: flex;
        flex-direction: column;
    }
    .signup-step {
      text-align: center;
      width: 100%;
      padding: clamp(calc(2rem + 2vw), 5vw,calc(10rem + 5vw));
    }
    .signup-step > picture{
        max-width: 75%;
    }
    .signup-step img{
        width: calc(100% - 5vw);
    }
    .next-button-reg {
        width: 100%;
    }

}


@media (min-width: 768px) {
    header{
        height: 100%;
    }
    .backgroundblue {
        position: absolute;
        height: 100%;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 45% 100%);
    }

    .headersection {
        width: 50%;
        height: calc(100%);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    article > h2{
        font-size: clamp(calc(3.5rem + 0.5rem), 4vw, calc(4rem + 0.5vw));   
 
    }
    .formbg {
        height: calc(42rem + 3vh);
        width: 80%;
    }
  .next-button-back-show {
    width: calc(40% - 2rem);
   }
    .exampelPligtWrap{
        width: calc(75% + 0.5vw);
    }

    .loantypetext, .monthlycost {
        font-size: calc(1rem + .5vw);
        line-height: calc(3rem + .5vw);
    }
    .loantypetextblue{
        display: block;
        line-height: calc(1.5rem + .5vw);
    }

    .ulwrap {
        width: 80%;
        margin-top: calc(-24rem + 0.5vw)
    }


    li {
        font-size: clamp(calc(0.5rem + 0.5rem), 4vw, calc(0.8rem + 0.5vw));
        line-height: calc(5rem + 0.5vw);
        color: rgba(var(--White), 1);
      
    }
    .pligt {
        font-size: clamp(calc(0.5rem + 0.5rem), 3vw, calc(0.65rem + 0.5vw) );
    }
    .signup-steps{
        display: flex;
        flex-direction: row;
    }
    .signup-step > picture{
        max-width: 100%;
    }
    
    .signup-steps img {
        width: 100%;
    }

    .next-button-reg {
        width: 25%;
    }
}

@media (min-width: 1024px) {

    article > h2{
        font-size: clamp(calc(6rem + 0.5rem), 3vw, calc(10rem + 0.5vw));  
    }
 
    .formbg {
        height: calc(45rem + 3vh);
    }
    .next-button-back-show {
        width: calc(35% - 2rem);
       }
}

@media (min-width: 1100px) {

}

@media (min-width: 1200px) {

    h2 {
        font-size: clamp(calc(1rem + 0.5rem), 5vw, calc(1.4rem + 0.5vw));
    }

    article > h2{
        font-size: clamp(calc(5.5rem + 0.5rem), 5vw, calc(11rem + 0.5vw));
    }

    .listsection {
        display: inline-flex;
    }

    li {
        font-size: clamp(calc(1rem + 0.5rem), 5vw, calc(1.5rem + 0.5vw));
        line-height: calc(6rem + 0.5vw);

    }

    .formbg {
        height: calc(48rem + 3vh);
        width: calc(60% + 0.5vw);
    }
    .exampelPligtWrap{
        width: calc(57% + 0.5vw);
    }

}

@media (min-width: 1300px){

    article > h2{
        font-size: clamp(calc(5.5rem + 0.5rem), 5vw, calc(9rem + 0.5vw));
    }

    li {
        font-size: clamp(calc(1rem + 0.5rem), 5vw, calc(1.5rem + 0.5vw));
        line-height: calc(5.5rem + 0.5vw);

    }
}

@media (min-width:1400px) {
    .dynamicexampel{
        font-size: clamp(calc(0.5rem + 0.5rem), 5vw, calc(0.6rem + 0.5vw) );
    }
    .pligt{
        font-size: clamp(calc(0.2rem + 0.5rem), 5vw, calc(0.3rem + 0.5vw) );
    }
    .next-button-back-show {
        width: calc(30% - 2rem);
       }
}