.signup-steps{
display: flex;
width: 100%;
}

.signup-step{
text-align: center;
width: 33.3%;
}

.signup-steps picture{
 display: inline-flex;
 align-items: center;
 justify-content: center;
 max-width: 50%;
}

.signup-steps img{
width: 100%;
}

.signup-step h4{
margin-top: 2rem;
}